@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html { scroll-behavior: smooth; }



body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #FFF5D5 !important;
  color: #CE6236 !important;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #CE6236 !important;
}

#big-egg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#two-eggs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#boiled-egg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.egg {
  height: 75%;

}

#eggceptional {
  padding-top: 0px;
}

#click-on-egg {
  color: #7870FF !important;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #CE6236 !important ;
}

.bg-color {
  background-color: #FFD961 !important;
}

.jumbotron {
  background-color: #FFEBA9 !important;
}

#chev {
  align-content: center !important;
  margin: 0 auto !important;
  padding-top: 30px;

}

#chev-color {
  background-color: #FFEBA9 !important;

}

#reveal {
  font-family: "Montserrat",sans-serif;
  width: 50%;
  color: #7870FF !important;
  font-weight: 600;
  background-color: #FFF5D5 !important;
}

#scrollHere {
  padding-top: 50px;
  align-content: center !important;
  margin: 0 auto !important;
}

#puns {
  padding-top: 50px;
}

#about {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #7870FF !important;
}

#descript {
  color: #7870FF !important;
}

h6 {
  width: 50% !important;
  margin: 0 auto;
  padding-bottom: 20px;

}

.padding {
  padding-bottom: 2rem;
}

#bt {
  padding-top: 20px;
}

#more {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #7870FF !important;
}
h5 {
  font-size: 15px !important;
  padding-bottom: 10px;
  color: #7870FF !important;
}

#what-eggs {
  font-weight: 700;
  color: #7870FF !important;
  margin: 0px;
}

.input-group {
  padding-top:20px;
}

#min {
  color: white !important;
  background: #7870FF !important;
}

#make {
  padding-top: 30px;

}

#Random {
  padding-bottom: 30px;
}

#rand-pun {
  margin-bottom: 30px;
  border-color: white;
  border-radius: 5px;
}

#rand-pun:hover {
  color: white;
  background-color:#E79472 !important;
}


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








